<ion-view view-title="Résultats : Activités">
    <ion-content>

        <div id='mapActivities'></div>

        <div class="item item-divider">
            <i class="icon ion-location"></i> {{ ctrl.results.length }} résultats
        </div>

        <div class="item item-toggle"> Payants ?
            <label class="toggle">
               <input type="checkbox" ng-model='$parent.okForPaying'>
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </div>

        <div class="list">

            <a ui-sref="main.activityResult({id: res.idactivites })"
            collection-repeat="res in ctrl.results | filter:resultsFilter" class="item item-thumbnail-left">
            {{res.files.length}}
            <img ng-if="res.files.length > 0" ng-src="{{ url + res.files[0].file }}">
            <h2 ng-bind-html="res.nom"></h2>
            <p ng-bind-html="res.lieu"></p>
            <ul class="tags_alt">
              <li ng-repeat="cat in res.rubriques">{{ cat.rubrique }}</li>
            </ul>collection
            <p class='fee' ng-if="res.hasFee == '0'"><i class="icon ion-happy-outline"></i> Gratuit</p>
          </a>

        </div>


        <ion-infinite-scroll on-infinite="loadData()" distance="1%" immediate-check="false" ng-if="hasResults">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>


